body {

background-color: lightblue;

}

body{

    h1{

        color:blueviolet;

        font-family: Georgia, 'Times New Roman', Times, serif;
    
    };

    /* style this paragraph*/
    p{
        color:aqua;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: 28px;
        border: 8px solid;

    }
}